* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--gray1-color);
}

.login-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.login-logo img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.login-logo a {
  font-size: var(--typo-heading-2);
  font-weight: var(--typo-heading-2-weight);
  line-height: 1;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  border-radius: 15px;
  width: 100%;
  height: 45%;
  max-width: 600px;
  max-height: 450px;
}

.login-form input {
  margin: 10px 0;
  padding: 10px;
  width: 70%;
  height: 7%;
  background-color: var(--gray1-color);
  border: 1px solid var(--gray2-color);
  border-radius: 8px;
  max-width: 500px;
}

.login-form button {
  margin-top: 5%;
  padding: 10px;
  width: 35%;
  background-color: var(--main-color);
  color: var(--white-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login-form input::placeholder {
  color: var(--gray3-color);
}

.login-btn a {
  font-size: var(--typo-heading-2-weight);
}

.signup-link {
  margin-top: 20px;
  font-size: 14px;
}

.signup-link span {
  color: var(--main-color);
  cursor: pointer;
  font-weight: bold;
}

.signup-link a {
  color: var(--gray4-color);
}

/* 모바일 환경 대응 */
@media (max-width: 768px) {
  .login-logo {
    margin-bottom: 10px;
  }
  .login-logo img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
  }

  .login-logo a {
    font-size: var(--typo-heading-4);
    font-weight: var(--typo-heading-2-weight);
    line-height: 1;
  }

  .login-form {
    width: 80%;
    height: auto;
    padding: 15px;
    max-width: none;
    max-height: none;
  }

  .login-form input {
    width: 80%;
    max-width: none;
  }

  .login-form button {
    width: 50%;
  }
  .signup-link {
    margin-top: 10px;
  }
}
