.modal-overlay {
    position: fixed;
    top: 0;
    right: -100%;
    width: 30%; /* 모달의 너비를 조절 */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.4s ease-in-out; /* 슬라이드 애니메이션 */
    z-index: 1000;
}

.modal-overlay.show {
    right: 0; 
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* 버튼 컨테이너의 위치를 절대적으로 조정하기 위해 상대 위치로 설정 */
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

textarea {
    width: 90%;
    height: 500px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 1.5;
    background-color: #F4F6F9;
    resize: none; /* 크기조정 제한 */
}

textarea:focus {
    outline: none;
    border-color: #0EA8ED;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.image-upload-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 90%;
    background-color: #F4F6F9;
    border-radius: 20px;
    padding: 15px;
    border: 1px solid #ccc;
}

.image-upload-container img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
}

.image-upload-container .thumbnail {
    margin-right: 10px; /* 썸네일과 버튼 사이의 여백 */
    border-radius: 5px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-between; /* 버튼을 좌우로 배치 */
    align-items: center;
    position: absolute; /* 버튼 컨테이너를 절대 위치로 설정 */
    bottom: 50px; /* 모달 창의 바닥에 붙도록 설정 */
    right: 20px; /* 모달의 오른쪽에 여백 추가 */
}

.submit-post {
    background-color: #0EA8ED;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px; /* 버튼 크기 조정 */
    border-radius: 30px;
}

.submit-post:hover {
    background-color: #479cf7;
}

.close-modal {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    width: 150px; /* 버튼 크기 조정 */
}