/* 전체 컨테이너 스타일 */
.search-component-container {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* 검색창 컨테이너 */
.search-component-search-container {
  margin-bottom: 20px;
}

.search-component-user-input {
  margin-top: 100px;
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding-left: 15px;
  font-size: 16px;
}

.search-component-search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: -40px;
}

.search-component-search-icon {
  width: 20px;
  height: 20px;
}

/* 사용자 정보 표시 카드 */
.search-component-message-container {
  background-color: #ffffff;
  width: 400px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.search-component-user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #e0e0e0;
  margin-bottom: 20px;
}

.search-component-username {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.search-component-user-id {
  font-size: 14px;
  color: #999;
  margin-bottom: 20px;
}

.search-component-follow-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.search-component-follow-btn:hover {
  background-color: #0056b3;
}

.search-component-active-border {
  border: 2px solid var(--gray4-color);
  border-radius: 50%;
}
